.bottomPage{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(9, 0, 128);
    color: white;
    text-align: center;
    
}

.pageSpaces{
    
    margin-left: 10px;
    margin-right: 10px;
}

.link-bottom-class{
    color: white;
    text-decoration: none;
}